@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&family=Roboto:wght@100&family=Work+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&family=Roboto:wght@100&family=Work+Sans:wght@100;400;700&display=swap');
*{
    border-radius: 10px;
    line-height: 140%;
}
p{
    color: grey;
    line-height: 110%;
}
.image{
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}
.flexer{
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}
.flexer1{
    display: flex;
    padding-left: 2rem;
}
.main-body{
    background-color: white;
    padding: 1rem 1.5rem 1rem 1.5rem;
    height: auto;
    position: absolute;
    transform: translateY(-4rem);
}
#icon{
    translate: 2rem 1.3rem;
}
#icon:hover{
    opacity: 0.5;
}
#star-icon{
    width: 2rem;
    height: 2rem;
    translate: -1rem 1.6rem;
}
.para{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;

}
h5{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;    
}